
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


html,
body{
	margin: 0;
	padding: 0;
}
a{
	margin: 0;
	padding: 0;
	text-decoration: none;
}

header{
	background-color: #EFEFEF;
}
.block-navigation{
	display: flex;
	justify-content: center;
}
.header-nav{
	width:447px;
	display: flex;
	list-style-type: none;
	padding: 2px 0 0 0;
	justify-content: space-between;
}
.header-nav li{
	font-family: Roboto;
	font-weight: 400;
	font-size: 14px;
	line-height: 100%;
	color: #333333;
	cursor: pointer;
}


/* ---------------------------------------------------------------------------------------- */

.main-img{
	margin: auto;
	max-height: 604px;
	position: relative;
}
.main-img img{
	width: 100%;
	height: 100%;
}

.sale{
	display: flex;
	position: absolute;
	top: 0;
	width: 308px;
}
.sale-group{
	display:grid;
	gap: 50px;
}
.sale-group h2{
	width: 308px;
	height: 44px;
	font-family: Roboto;
	font-weight: 700;
	font-size: 48px;
	color: #FFFFFF;
	margin: 0;
}
.sale-group p{
	width: 308px;
	height: 35px;
	font-family: Roboto;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
}
.sale-group_href{
	display: flex;
	justify-content: center;
	width: 170px;
    text-decoration: none;
	border-radius: 40px;
	border: 2px solid #FFFFFF;
	padding: 12px 0;
	color: #FFFFFF;
}

.second-line{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 20px 0 20px 0;
}
.second-line_info {
	display: flex;
	margin-right: 172px;
	
}
.second-line_info h1{
	color: #F13C6E;
	font-family: Roboto;
	font-weight: 700;
	font-size: 36px;
	line-height: 100%;
	letter-spacing: 4px;

}
.second-line_icon {
	display: flex;
	gap: 20px;
}

.input{
	width: 250px;
	border-radius: 40px;
	border: #EFEFEF;
	background-color:#EFEFEF;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 0 10px 0;
}
.input input{
	border: #EFEFEF;
	background-color:#EFEFEF;
	outline: none;
}
.input img{
	padding-right: 18px;

}
.second-line_number {
	width: 127;
	height: 19;
	font-family: Roboto;
	font-weight: 400;
	font-size: 16px;
	margin-left: 93px;
}
.second-line_nav{
	display: flex;
	justify-content: center;
	padding: 30px 0 30px 0;
	cursor: pointer;
}
.second-line_nav ul{
	display: flex;
	gap: 40px;
	list-style-type: none;
	width: 72;
	height: 19;
	font-family: Roboto;
	font-weight: 400;
	font-size: 16px;
	line-height: 100%;
	padding: 0;
	margin: 0;
}

.second-line-button{
	border: 2px solid #F13C6E;
	border-radius: 40px;
	margin-left: 40px;
}
.second-line-button p{
	margin: 12px 26px;
	width: 117;
	height: 15;
	font-family: Roboto;
	font-weight: 400;
	font-size: 14px;
	color: #000000;
}