
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


html,
body{
	margin: 0;
	padding: 0;
}
a{
	margin: 0;
	padding: 0;
	text-decoration: none;
}

header{
	background-color: #EFEFEF;
}
.block-navigation{
	display: flex;
	justify-content: center;
}
.header-nav{
	width:447px;
	display: flex;
	list-style-type: none;
	padding: 2px 0 0 0;
	justify-content: space-between;
}
.header-nav li{
	font-family: Roboto;
	font-weight: 400;
	font-size: 14px;
	line-height: 100%;
	color: #333333;
	cursor: pointer;
}


/* ---------------------------------------------------------------------------------------- */

.main-img{
	margin: auto;
	max-height: 604px;
	position: relative;
}
.main-img img{
	width: 100%;
	height: 100%;
}

.sale{
	display: grid;
	position: absolute;
	width: 308px;
	top: 32%;
    left: 21%;
	gap: 35px;
}

.sale h2{
	width: 308px;
	height: 44px;
	font-family: Roboto;
	font-weight: 700;
	font-size: 48px;
	color: #FFFFFF;
	margin: 0;
}
.sale p{
	width: 308px;
	height: 35px;
	font-family: Roboto;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
}
.sale-group_href{
	display: flex;
	justify-content: center;
	width: 170px;
    text-decoration: none;
	border-radius: 40px;
	border: 2px solid #FFFFFF;
	padding: 10px 0;
	color: #FFFFFF;
}

.second-line{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 20px 0 20px 0;
}
.second-line_info {
	display: flex;
	margin-right: 172px;
	
}
.second-line_info h1{
	color: #F13C6E;
	font-family: Roboto;
	font-weight: 700;
	font-size: 36px;
	line-height: 100%;
	letter-spacing: 4px;

}
.second-line_icon {
	display: flex;
	gap: 20px;
}

.input{
	width: 250px;
	border-radius: 40px;
	border: #EFEFEF;
	background-color:#EFEFEF;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 0 10px 0;
}
.input input{
	border: #EFEFEF;
	background-color:#EFEFEF;
	outline: none;
}
.input img{
	padding-right: 18px;

}
.second-line_number {
	width: 127;
	height: 19;
	font-family: Roboto;
	font-weight: 400;
	font-size: 16px;
	margin-left: 93px;
}
.second-line_nav{
	display: flex;
	justify-content: center;
	padding: 30px 0 30px 0;
	cursor: pointer;
}
.second-line_nav ul{
	display: flex;
	gap: 40px;
	list-style-type: none;
	width: 72;
	height: 19;
	font-family: Roboto;
	font-weight: 400;
	font-size: 16px;
	line-height: 100%;
	padding: 0;
	margin: 0;
	flex-wrap: wrap;
}

.second-line-button{
	border: 2px solid #F13C6E;
	border-radius: 40px;
	margin-left: 40px;
}
.second-line-button p{
	margin: 12px 26px;
	width: 117;
	height: 15;
	font-family: Roboto;
	font-weight: 400;
	font-size: 14px;
	color: #000000;
}

.main-block {
	background: #EFEFEF;
	margin: 80px 0;
}
.main-block_special {
	display: grid;
	justify-content: center;
}
.main-block_special h3{
	margin: 0;
	width: 320;
	height: 29;
	font-family: Roboto;
	font-weight: 700;
	font-size: 24px;
	line-height: 100%;
	letter-spacing: 0%;
	padding-bottom: 38px;
}
.main-block_special-items {
	display: flex;
	gap: 30px;
	justify-content: center;
	flex-wrap: wrap;
}
.main-block_special-item {
	max-width: 255px;
	background:#FFFFFF;
	display: grid;
	justify-items: center;
	padding: 25px 30px;
	gap: 22px;
}

.main-block_special-item-title {
	width: 195px;
	margin: 0;
	height: 33px;
	font-family: Roboto;
	font-weight: 400;
	font-size: 14px;
	line-height: 141%;
	letter-spacing: 0%;
	text-align: center;
}
.main-block_special-item-subtitle {
	width: 80px;
	height: 19px;
	font-family: Roboto;
	font-weight: 500;
	font-size: 21px;
	line-height: 100%;
	letter-spacing: 5%;
	text-align: center;
	margin: 0;
}
.main-block_special-item-button {
	width: 130px;
	height: 35px;
	border-radius: 30px;
	background: #F13C6E;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-block_special-item-button p{
	width: 51px;
	height: 17px;
	font-family: Roboto;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 5%;
	text-align: center;
	color: #FFFFFF;

}

.main-block_our-shop {
	margin: 100px 0;
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
	justify-content: center;
	
}
.our-shop_block {
	width: 540px;
	height: 212px;
	background: #F13C6E;
	display: flex;
	justify-content: space-around;
    align-items: center;
}
.our-shop_block-info{
	display: grid;
	gap: 25px;
}
.our-shop_block-info h4{
	height: 17px;
	font-family: Roboto;
	font-weight: 700;
	font-size: 18px;
	line-height: 100%;
	color: #FFFFFF;
	margin: 0;
}

.our-shop_block-info p {
	height: 40px;
	font-family: Roboto;
	font-weight: 400;
	font-size: 14px;
	line-height: 141%;
	color: #FFFFFF;
	margin: 0;
}
.our-shop_block-info-input{
	width: 225px;
	height: 35px;
	border-radius: 30px;
	background: #FFFFFF;
	outline: none;
	border-color: #FFFFFF;
}
.our-shop_block-info-input::placeholder{
	font-family: Roboto;
	font-weight: 400;
	font-size: 14px;
	line-height: 100%;
	padding-left: 25px;
	color: #C4C4C4;	
}

.our-shop_block-info-button{
	border: 2px solid #FFFFFF;
	width: 170px;
	height: 35px;
	border-radius: 30px;
	display: flex;
    align-items: center;
    justify-content: space-around;
}
.our-shop_block-info-button p{
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
}